@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background-color: #FFF;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.converted {
  padding-bottom: 200px;
}

.container {
  background: #F0F5FF;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
}

h1 {
  color: #1A1A1A;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  padding-top: 42px;
}

p {
  color: #1A1A1A;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 900px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 20px 50px 2px rgba(26, 26, 26, 0.10);
  float: left;
  position: relative;
  top: 117px;
  padding-bottom: 40px;
}

.card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.card-description h2 {
  color: #1A1A1A;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  padding: 30px 123px;
}

.card-description p {
  padding: 0px 61px;
}

.card-form {
  display: flex;
  justify-content: center;
  margin: 33px 40px 30px 40px;
}

input {
  width: 140px;
  height: 64px;
  font-size: 16px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #C6C6C6;
  background: #FFF;
  color: #1A1A1A;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 10px;
}

select {
  width: 230px;
  height: 64px;
  font-size: 16px;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #C6C6C6;
  background: #FFF;
  color: #1A1A1A;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

option {
  color: #1A1A1A;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#invert {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 19px;
  padding: 10px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 40px;
}

.card-footer p {
  color: #1A1A1A;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

#converted {
  border-radius: 4px;
  background: #E5133A;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  cursor: pointer;
  width: 370px;
  height: 46px;
}

#converted:hover {
  background: #00991B;
  transition: 0.5s all;
}

/* Media Queries */
@media screen and (min-width: 768px) and (max-width: 1180px) {
  .container {
    padding: 0px 10px;
  }

  .card-container {
    max-width: 750px;
    display: block;
    padding: 0px 20px 40px 20px;
  }

  .card-description {
    display: block;
  }

  .card-description h2 {
    padding: 30px 0px;
  }

  .card-description p {
    padding: 0px;
  }

  .card-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px 0px 30px 0px;
  }

  input {
    width: 130px;
  }

  select {
    width: 180px;
  }

  .card-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 6px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0px 10px;
  }

  .card-container {
    max-width: 100%;
  }

  .card-description {
    margin: 10px;
  }

  .card-description h2 {
    padding: 10px 0px;
  }

  .card-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 33px 0px 30px 0px;
  }

  input {
    width: 230px;
    border-radius: 4px 4px 0px 0px;
  }

  select {
    border-radius: 0px 0px 4px 4px;
  }

  #invert {
    margin: 16px 0px;
  }

  .card-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  #converted {
    width: 350px;
  }
}